* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --secondary-green: #253900;
  --primary-green: #08cb00;
  --white: #eeeeee;
  --radius: 3px;
}

body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  height: 100vh;
  padding: 20px;
  gap: 2%;
}

h1,
h2 {
  margin-bottom: 10px;
  height: 10%;
}

h2 {
  color: var(--white);
}

.section {
  width: 60%;
  height: 50%;
  min-height: 250px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#labels-holder {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  height: 20%;
  width: 90%;
}

#pre-holder {
  background-color: var(--secondary-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 3% 0;
  height: 95%;
}

form {
  background-color: var(--secondary-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7%;
  border-radius: 5px;
  padding: 3% 0;
  height: 90%;
}

textarea {
  background-color: var(--black);
  border-radius: var(--radius);
  width: 90%;
  color: var(--white);
  height: 60%;
  font-family: monospace;
  font-size: 20px;
  border: none;
}

textarea:focus {
  border: 1px solid var(--white);
  outline: none;
}

input[type='radio'] {
  appearance: none;
}

label,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
  border-radius: var(--radius);
  font-size: 15px;
  cursor: pointer;
}

label {
  background-color: var(--primary-green);
  height: 100%;
  flex: 1;
  border: 1.5px solid transparent;
}

label:has(input[type='radio']:checked) {
  border-color: var(--white);
  box-sizing: border-box;
}

button {
  background-color: var(--white);
  border: none;
  font-family: inherit;
  height: 20%;
  width: 90%;
}

label:hover,
button:hover {
  filter: brightness(1);
  transform: scale(1.01);
}

label:active,
button:active {
  opacity: 0.5;
}

pre {
  width: 90%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  overflow: auto;
  border-radius: var(--radius);
}

p {
  color: var(--white);
  text-align: center;
  background-color: var(--black);
  width: 90%;
  height: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
  padding: 0 20%;
}

.error {
  background-color: var(--secondary-green);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 60%;
}
span:nth-child(1) {
  color: var(--primary-green);
}

span:nth-child(2) {
  color: var(--white);
}

span:nth-child(3) {
  color: var(--primary-green);
}

span:nth-child(4) {
  color: var(--white);
}

@media (max-width: 600px) {
  #labels-holder {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 50%;
  }
  textarea {
    height: 30%;
    font-size: 15px;
  }
  button {
    height: 20%;
  }

  p {
    height: 90%;
    width: 80%;
    font-size: 22px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p {
    font-size: 40px;
  }
}
