/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --black: #000000;
  --secondary-green: #253900;
  --primary-green: #08cb00;
  --white: #eeeeee;
  --radius: 3px;
}

/* Body */
body {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  height: 100vh;
  padding: 20px;
  gap: 2%;
}

/* Section */
.section {
  width: 60%;
  height: 50%;
  min-width: 300px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Headings */
h1,
h2 {
  margin-bottom: 10px;
  height: 10%;
}

h2 {
  color: var(--white);
}

/* Form inside section */
form {
  background-color: var(--secondary-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7%;
  border-radius: 5px;
  padding: 3% 0;
  height: 90%;
}

/* Textarea inside form */
textarea {
  background-color: var(--black);
  border-radius: var(--radius);
  width: 90%;
  color: var(--white);
  height: 60%;
  font-family: monospace;
  font-size: 20px;
  border: none;
  resize: none;
}

textarea:focus {
  border: 1px solid var(--white);
  outline: none;
}

/* Labels holder inside form */
#labels-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 90%;
  height: 20%;
}

/* Buttons inside form */
button {
  background-color: var(--white);
  border: none;
  font-family: inherit;
  height: 20%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--radius);
  font-size: 17px;
  cursor: pointer;
}

button:hover {
  filter: brightness(1);
  transform: scale(1.01);
}

button:active {
  opacity: 0.5;
}

/* Labels inside form */
label {
  background-color: var(--primary-green);
  height: 100%;
  flex: 1;
  border: 1.5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--black);
  border-radius: var(--radius);
  font-size: 17px;
  cursor: pointer;
}

label:has(input[type='radio']:checked) {
  border-color: var(--white);
  box-sizing: border-box;
}

label:hover {
  filter: brightness(1);
  transform: scale(1.01);
}

label:active {
  opacity: 0.5;
}

/* Radio inputs */
input[type='radio'] {
  appearance: none;
}

/* Pre holder inside section */
#pre-holder {
  background-color: var(--secondary-green);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 3% 0;
  height: 95%;
}

/* Pre inside pre-holder */
pre {
  width: 90%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  overflow: auto;
  border-radius: var(--radius);
}

/* Paragraphs inside section */
p {
  color: var(--white);
  text-align: center;
  background-color: var(--black);
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
  margin: 3% 0%;
}
a {
  height: 5%;
  border-radius: var(--radius);
  color: var(--secondary-green);
  padding: 1% 1%;
  background-color: var(--primary-green);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* Error box inside section */
.error {
  background-color: var(--secondary-green);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 60%;
  min-width: 300px;
  min-height: 250px;
}

/* Spans inside error */
span:nth-child(1) {
  color: var(--primary-green);
}
span:nth-child(2) {
  color: var(--white);
}
span:nth-child(3) {
  color: var(--primary-green);
}
span:nth-child(4) {
  color: var(--white);
}

/* Media Queries */
@media (max-width: 600px) {
  #labels-holder {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 50%;
  }
  textarea {
    height: 30%;
    font-size: 15px;
  }
  button {
    height: 20%;
  }
  p {
    height: 95%;
    font-size: 22px;
  }
  label,
  button {
    font-size: 15px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  p {
    height: 95%;
    font-size: 40px;
  }
  label,
  button {
    font-size: 16px;
  }
}

